# langchain==0.3.0
# langchain-openai==0.2.0
# langchain-experimental==0.3.0
# openai>=1.40.0
# pandas==2.1.4
# streamlit==1.29.0
# python-dotenv==1.0.0
# langchain-groq
streamlit==1.37.1

langchain==0.3.7
langchain-openai==0.2.8
langchain-experimental==0.3.3

langchain-groq==0.2.1
groq==0.11.0

openai==1.54.3

pandas==2.2.3
numpy==1.26.4

python-dotenv==1.0.1
tabulate==0.9.0